@import "mocha.css";

* {
  font-family: "SF Pro Text", "JetBrainsMono Nerd Font";
  font-size: 13px;
  font-weight: 400;
  box-shadow: none;
  text-shadow: none;
}

window#waybar {
  background-color: rgba(24, 24, 37, 0.6);
  color: @text;
  border: none;
}

#workspaces button.active {
  background: @green;
  color: #11111b;
  font-weight: 700;
}

#workspaces button {
  font-family: "SF Pro Display", "JetBrainsMono Nerd Font";
  font-weight: 600;
  margin: 7px 2px;
  background: transparent;
  border-radius: 4px;
  color: @text;
  border: none;
  padding: 0px;
}

#workspaces button label {
  font-family: "SF Pro Display", "JetBrainsMono Nerd Font";
  font-weight: 600;
  padding: 2px 8px;
}

#workspaces button.active label {
  font-weight: 700;
  color: #11111b;
}

#submap,
#workspaces button.urgent {
  background: @red;
  color: #11111b;
}

#submap,
#battery, 
#bluetooth,
#custom-kdeconnect,
#pulseaudio,
#network,
#cpu,
#memory {
  background-color: rgba(49, 50, 68, 0.4);
  border-radius: 8px;
  padding: 2px 8px;
  margin: 5px 3px;
  font-family: "SF Pro Display", "JetBrainsMono Nerd Font";
  font-weight: 600;
}

#window,
#window label {
  font-size: 14px;
  font-family: "SF Pro Rounded", "JetBrainsMono Nerd Font";
  font-weight: 700;
}

#clock {
  font-family: "SF Pro Rounded", "JetBrainsMono Nerd Font";
  font-weight: 700;
  font-size: 14px;
  padding: 2px 8px;
}

tooltip {
  background: @surface0;
  border: 1px solid @surface1;
  border-radius: 6px;
}

tooltip label {
  font-family: "SF Pro Text", "JetBrainsMono Nerd Font";
  color: @text;
  padding: 4px;
}

#battery {
    color: @text;
    background-color: transparent;
}

/* Yellow color when battery drops to 30% or below */
#battery.warning {
    color: @yellow;
}

/* Red color when battery drops to 15% or below */
#battery.critical {
    color: @red;
}

/* Keep regular colors while charging so it doesn't look critical */
#battery.charging {
    color: @green;
}

